.app {
  text-align: center;
  background-color: #DEC6F8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  gap: 20px;
}

.search_btn{
  height: 30px;
  border-radius: 10px;
  outline: none;
  border: none;
  border: 2px solid blue;
  padding: 20px;
}

.app_cont{
  background-color: #DEC6F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
